{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Hello! I’m a passionate explorer and a third-year Computer Engineering student at Ramrao Adik Institute of Technology (RAIT) in Nerul. Currently in my 6th semester, I've found both in my studies and in my travels that there's always more to learn and discover.</p>
        <p>Traveling solo has opened my world, allowing me to immerse myself in new cultures, meet diverse people, and challenge my perspectives. Each destination is a new chapter of experience and adventure that enriches my understanding of the world.</p>
        <p>Parallel to my travels, I am diving deep into the realm of Python. This journey through coding is yet another landscape, vast and intriguing. With each line of code, I build a stronger foundation in programming, solving problems efficiently and creatively.</p>
        <p>As I continue to expand my technical skills, I am actively seeking an internship that aligns with my passion for technology and innovation. I am eager to bring my unique perspective as a global traveler and a dynamic problem-solver to an organization that values curiosity and continuous learning.</p>
        <p>Join me as I navigate through the complexities of engineering and the excitement of unknown territories, always pushing the boundaries of what is possible.</p>
        <p>Let’s connect and explore the endless possibilities together!</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
